*{
   box-sizing: border-box; 
}
.wrapper{
    width: 1100px;
    margin: 30px auto;
}
header{
    border: 1px solid black;
    background-color: orange;
}
.block{
    text-align: left;
}
.sitename{
    margin: 20px 20px 20px 20px;
    font: 20px Arial;   
    text-align: left;
}
.sitename a{
    color: white;
}
.container{
    display: flex;
    font-size: 20px;
}
main{
    width: 600px;
    padding: 20px;
}
main h1{
    font: 20px "Times New Roman";
}
main p{
    margin: 10px 0;
    text-align: justify;
    font: 15px Arial;
}
.right{
    width: 400px;
    padding: 20px;
}
footer{
    padding: 30px 0;
    text-align: center;
    background-color: orange;
    color: aliceblue;
}
table{
    border-collapse: collapse;
}
th{
    background-color: bisque;
}
td, th{
    border: 1px solid black;
    text-align: center;
    width: 200px;
    font-size: 15px;
    padding: 10px;
}
.passive{
    color: white;
    text-decoration: none;
    margin: 0px 20px 0px 0px;
}
.active{
    color: white;
    margin: 0px 20px 0px 0px;
}
.right h2{
    font: 20px "Times New Roman";
}
.right p{
    margin: 10px 0;
    text-align: justify;
    font: 15px Arial;
}
.img{
    width: 558px;
}